body{
    background-image: url(IMG_3013.jpg);
    background-size: cover;
    min-height: 40vh;
  }

  .character-container{
    width: 120px;
    position: absolute;
    left: 10%;
    top: 40%;
    /* forwards the animation remain in the state of the end */
    animation: birdAnim 4s  infinite;
  }
  .character{
    width: 100px;
    position: absolute;
    top: 40%;
    left: 30%;
  }

  .character img{
    width: 100%;
  }
  
  @keyframes characterAnim{
    0%{
      left: 10%;
      top: 20%;
      transform: rotate(20deg)
    }
    30%{
      left: 20%;
      top: 40%;
  
      transform: rotate(120deg)
    }
    60%{
      left: 50%;
      top: 30%;
      transform: rotate(160deg)
  
    }
    100%{
      left: 10%;
      top: 20%;
      transform: rotate(20deg)
      
    }
  }